body {
  background-image: url("back.webp");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: orange;
  text-shadow: 5px 0 20px rgba(255, 255, 255, 0.2);
  padding: 20px;
  line-height: 1.6;
}


header {
  text-align: center;
  padding: 10px;
}

header h1 {
  font-size: 2rem;
  margin: 0;
  padding: 10px;
}


nav {
  background-color: #C60;  
  text-align: center;
  margin-top: 10px;
}

nav ul {
  list-style: none;        
  margin: 0;
  padding: 0;
  display: flex;           
  justify-content: center; 
}

nav li {
  border-right: 1px solid white; 
}

nav li:last-child {
  border-right: none;
}

nav a {
  display: block;
  color: #CCC;                  
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  padding: 5px 10px;
}

nav a:hover,
nav a:active {
  color: white;                 
}


main {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  text-align: justify;
  color: #ddd;
}


@media (max-width: 800px) {
  header {
    background-image: url("header_small.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  nav {
    position: sticky; 
    top: 0;
    background-color: #C60;
    z-index: 1000;
  }

  nav ul {
    flex-wrap: wrap;
  }

  nav a {
    font-size: 1.2rem;
    padding: 10px;
  }

  main {
    font-size: 1rem;
    line-height: 1.5;
  }
.kepegy {
    float: center;
    width: 50%;
    margin: 10px 20px 10px 0;
    border-radius: 8px;
  }
}

@media (min-width: 801px) {

  header {
    background-image: url("header.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
  }

  nav {
    display: flex;
    align-items: flex-start;
    position: static;
    width: 20%;
    background-color: #C60;
  }

  nav ul {
    display: block;
    padding: 20px;
  }

  nav li {
    border-right: none;
    border-bottom: 1px solid white;
    padding: 10px 0;
  }

  nav a {
    font-size: 1.2rem;
    color: #CCC;
    display: block;
  }

  nav a:hover {
    color: white;
  }

  main {
    width: 70%;
    padding: 20px;
    float: right;
  }

  main p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6;
  }

  main img {
    float: left;
    width: 50%;
    margin: 10px 20px 10px 0;
    border-radius: 8px;
  }
}